@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --display-display-2-regular: Nunito;

  /* font sizes */
  --font-size-7xs: 6px;
  --font-size-6xs: 7px;
  --font-size-4xs: 9px;
  --font-size-5xs: 8px;
  --display-display-2-regular-size: 14px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue-100: #007fff;
  --color-royalblue-200: #0077ed;
  --color-royalblue-300: #0074e7;
  --color-main-text: #222132;
  --color-lightsteelblue: #9babc5;

  /* Gaps */
  --gap-8xs: 5px;
  --gap-4xs: 9px;
  --gap-5xs: 8px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-26xl: 45px;
  --padding-sm: 14px;
  --padding-lgi: 19px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;

  /* border radiuses */
  --br-12xl-2: 31.2px;
  --br-6xs: 7px;
  --br-31xl: 50px;
}
